.content {
  text-align: center;
}

.form h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

.wrapper-margin-top {
  margin-top: 15px;
}

.wrapper-margin-bottom {
  margin-bottom: 15px;
}

.weather-icon canvas {
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
