.forecast {
  margin-top: 25px;
  margin-bottom: 15px;
}

.days {
  color: #7852a9;
  font-weight: 600;
}

.min-max-temp {
  font-size: 12px;
}

.temp-value {
  font-size: 16px;
}

.centered {
  justify-content: center;
}

.justify-even {
  justify-content: space-evenly;
}

.weather-icon {
  justify-content: top;
}
